################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/DiscordBot_Ania/FileContentIndex
/.vs
